[submodule "cellframe-sdk"]
	path = cellframe-sdk
	url = https://gitlab.demlabs.net/cellframe/cellframe-sdk
	branch = master
[submodule "cellframe-sdk-python/libdap-chain-common-python"]
	path = cellframe-sdk-python/libdap-chain-common-python
	url = https://gitlab.demlabs.net/cellframe/libdap-chain-common-python.git/
	branch = master
[submodule "cellframe-sdk-python/libdap-server-core-python"]
	path = cellframe-sdk-python/libdap-server-core-python
	url = https://gitlab.demlabs.net/cellframe/libdap-server-core-python.git/
	branch = master
[submodule "cellframe-sdk-python/libdap-python"]
	path = cellframe-sdk-python/libdap-python
	url = https://gitlab.demlabs.net/cellframe/libdap-python.git/
	branch = master
[submodule "cellframe-sdk-python/libdap-crypto-python"]
	path = cellframe-sdk-python/libdap-crypto-python
	url = https://gitlab.demlabs.net/cellframe/libdap-crypto-python.git/
	branch = master
[submodule "cellframe-sdk-python/libdap-chain-python"]
	path = cellframe-sdk-python/libdap-chain-python
	url = https://gitlab.demlabs.net/cellframe/libdap-chain-python.git/
	branch = master
[submodule "cellframe-sdk-python/libdap-chain-net-python"]
	path = cellframe-sdk-python/libdap-chain-net-python
	url = https://gitlab.demlabs.net/cellframe/libdap-chain-net-python.git/
	branch = master
[submodule "cellframe-sdk-python/libdap-chain-gdb-python"]
	path = cellframe-sdk-python/libdap-chain-gdb-python
	url = https://gitlab.demlabs.net/cellframe/libdap-chain-gdb-python.git/
	branch = master
[submodule "cellframe-sdk-python/libdap-client-python"]
	path = cellframe-sdk-python/libdap-client-python
	url = https://gitlab.demlabs.net/cellframe/libdap-client-python.git/
	branch = master
[submodule "cellframe-sdk-python/libdap-app-cli-python"]
	path = cellframe-sdk-python/libdap-app-cli-python
	url = https://gitlab.demlabs.net/cellframe/libdap-app-cli-python.git
	branch = master
