[submodule "libdap-crypto"]
	path = libdap-crypto
	url = https://gitlab.demlabs.net/cellframe/libdap-crypto.git
[submodule "libdap"]
	path = libdap
	url = https://gitlab.demlabs.net/cellframe/libdap.git
